*{
    margin: 0;
    padding: 0;
}

@import './variables/colores';
 
@import './secciones/navbar.scss';
@import './secciones/footer.scss';
@import './secciones/inicio';
@import './secciones/servicios';
@import './secciones/galeria';
@import './secciones/cursos';
@import './secciones/contacto';

body{
    background-image: url(https://res.cloudinary.com/dbaqismy5/image/upload/v1656199795/fondoVioleta_b8aqks.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

