%estilosServicios {
    font-size: 3rem;
    margin: 20px 0px 5px 0px;
    font-family: $Bebas;
    text-shadow: 1px 0px 20px #000000;
    transition: all 0.8s ease;
    &:hover{
        transform: scale(1.1);
        filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.755));
    }
}

%iconos-redes {
    color: $textoVioleta;
    font-size: 40px;
    transition: all 0.8s;
    margin: 3px;
}