%estilosServicios {
    font-size: 3rem;
    margin: 20px 0px 5px 0px;
    font-family: $Bebas;
    text-shadow: 1px 0px 20px #000000;
}

%iconos-redes {
    color: $textoVioleta;
    font-size: 40px;
    transition: all 0.8s;
    margin: 3px;
}