footer {
    grid-area: footer;
    background-color: $transparienciaBlanca;
    padding: 6px;

    div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;

        i {
            color: $textoVioleta;
            font-size: 30px;
            transition: all 0.5s;
            margin: 3px;
            
            &:hover {
                transform: scale(1.1);
            }

        }
    }
}