footer {
    grid-area: footer;
    background-color: $transparienciaBlanca;
    padding: 6px;
    box-shadow: 1px 0px 20px 4px black;

    div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;

        i{
            @extend %iconos-redes;
        }

    }

    .fa-instagram {
        &:hover {
            background: rgb(229, 146, 236);
            background: linear-gradient(180deg, rgba(229, 146, 236, 1) 0%, rgba(255, 58, 198, 1) 22%, rgba(251, 0, 0, 1) 62%, rgba(255, 49, 35, 1) 73%, rgba(232, 229, 0, 1) 95%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            transform: scale(1.2);
        }
    }


     .fa-whatsapp {
        @include hover-footer (rgb(17, 169, 0));
    }

     .fa-facebook {
        @include hover-footer (rgb(0, 32, 236));
    }

 }