.main {
    grid-area: main;
    text-align: center;
    padding: 82px;
    height: 85%;
    background-size: cover;
    height: auto;
    width: auto;

    h1 {
        font-size: 50px;
        font-family: 'Signika Negative', sans-serif;
        color: $textoPrincipal;
        text-shadow: 0px 0px 8px #000000;
        height: 89px;
    }

    img {
        border-radius: 50%;
        height: 384px;
        transition: all 0.5s;
        box-shadow: 0px 0px 14px white;

        &:hover {
            transform: scale(1.1);
        }

    }

    h2 {
        font-size: 2rem;
        margin-top: 30px;
        font-family: 'Signika Negative', sans-serif;
        color: $textoPrincipal;
        background-color: #00000063;
        border-radius: 50px;
        padding: 12px;
    }
}



@media (max-width:426px) {

    .main{
        padding: 0px;
        h1{
            font-size: 50px;
            margin: 22px;
        }
        img{
            height: 300px;
            margin: 20px;
        }
        h2{
            font-size: 1.7rem;
            margin: 10px;
        }
    }

}

@media (max-width:376px){
    .main{
        padding: 10px;
        h1{
            font-size: 40px;
        }
        img{
            height: 250px;
        }
        h2{
            font-size: 1.5rem;
        }
    }

}