.main {
    text-align: center;
    padding: 30px;
    height: 85%;
    background-size: cover;
    height: auto;
    width: auto;

    h1 {
        font-size: 5rem;
        font-family: $Bebas;
        color: $textoPrincipal;
        text-shadow: 0px 0px 8px #000000;
        height: 89px;
        margin: 0px 0px 28px 0px;
    }

    img {
        border-radius: 50%;
        height: 384px;
        transition: all 0.5s;
        box-shadow: 0px 0px 14px white;

        &:hover {
            transform: scale(1.1);
        }

    }

    h2 {
        font-size: 2rem;
        margin: 50px auto 15px auto;
        font-family: $Akshar;
        color: $textoPrincipal;
        background-color: #00000063;
        border-radius: 50px;
        padding: 12px;
        width: 80%;
    }
}

@media (min-width:1700px) {
    .main {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h1{
            height: auto;
            font-size: 7rem;
        }
        img{
            height: 530px;
        }
        h2{
            font-size: 3rem;
        }
    }
}

@media (max-width: 426px) {

    .main {
        padding: 0px;

        h1 {
            font-size: 60px;
            margin: 10px 0px 5px 0px;
            padding: 13px;
        }

        img {
            height: 300px;
            margin: 20px;
        }

        h2 {
            font-size: 1.7rem;
            width: 90%;
        }
    }

}

@media (max-width:376px) {

    .main {
        padding: 10px;

        h1 {
            font-size: 50px;
            margin: 0px 0px -20px 0px;
        }

        img {
            height: 250px;
        }

        h2 {
            font-size: 1.5rem;
        }
    }

}

@media (max-width:321px) {
    .main {

        h1 {
            margin: 0px 0px 36px 0px;
        }
    }
}